<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col md-3 col-sm-3 col-xs-3">
        <div class="logo">
          <h1>New Item Portal</h1>
          <h4>BAM</h4>
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 page-title-block">
        <div class="row" style="margin-right: 0;">
          <div class="title col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="page-title">
             {{title}}
            </div>
          </div>
          <div class="user col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="user-name">
              User name
              <i class="fa fa-chevron-down"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

